%h3
  = @article.title

%p 
  %b Excerpt:
  %br
  = print_formated(@article.formatting_type, @article.excerpt)

%p
  %b Body:
  %br
  = print_formated(@article.formatting_type, @article.body)

%p 
  %b Published
%br{ :style => "clear:both;"}
  = boolean_to_image_big(@article.published)

%p
  %b Created by:
  = @article.user.login

%p
  %b Permalink:
  = @article.permalink

%p
  %b Create Date:
  = @article.created_at.to_s(:long)

%p
  %b Last Update:
  = @article.updated_at.to_s(:long)

= link_to 'Edit', edit_admin_article_path(@article)
|
= link_to 'Back', admin_articles_path
