#footer
  %p 
    Template Design by <a href="http://templatefusion.org">TemplateFusion</a> 
    | Icons by <a href="http://www.famfamfam.com/">famfamfam</a>
  %p 
    This blog source code available at 
    = link_to "github.com", "http://www.github.com"
  %p 
    Powered by: 
    %br
    = link_to(image_tag("/images/powered_by_gentoo_mini.png"), "http://www.gentoo.org", :target => "_blank")
    = link_to(image_tag("/images/rails_mini.png"), "http://www.rubyonrails.org", :target => "_blank")
    = link_to(image_tag("/images/haml_mini.png"), "http://haml.hamptoncatlin.com/", :target => "_blank")
  %p
    Hosted on:
    %br
    = link_to(image_tag("/images/slicehost.png"), "https://manage.slicehost.com/customers/new?referrer=2123857464", :target => "_blank")